body{
    background-color: none;
    /* use another  comment in css  */

    /* use third comment in css  */
    
}
div{
    background-color:#fff;
}
footer{
    display: block;
}

div{
    background-color: #fff;
}
